<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Developer Skills</title>
  </head>
  <body>
    <h1>Skills as of <%= time%></h1>
    <% if(error) { %>
    <h2><%= error %></h2>
    <% } %>
    <ul>
      <% skills.forEach(function(skill) { %>
      <li>
        <a href="/skills/<%= skill._id %>"><%= skill.text %></a>
        - <%= skill.has ? 'true' : 'false' %> <% }) %>
      </li>
    </ul>
  </ul>
  <a href="/skills/new">Add Skills</a>

    <% skills.forEach(function(skill) { %>
    <form
      action="/skills/<%= skill._id %>?_method=DELETE"
      class="delete-form"
      method="POST"
    >
      <button type="submit">X</button>
    </form>
    <a href="/skills/<%= skill._id %>"><%= skill.text %></a>
    <% }) %>
  </body>
</html>
